# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
venv/
.venv/
env/
ENV/
# =========================================================
# Django
# =========================================================
*.log
db.sqlite3
db.sqlite3-journal
# Django static/media files
staticfiles/
media/
# =========================================================
# Environment variables
# =========================================================
.env
# =========================================================
# IDE / Editor
# =========================================================
.vscode/
.idea/
*.swp
*.swo
# =========================================================
# Operating system
# =========================================================
.DS_Store
Thumbs.db
# =========================================================
# Testing / Coverage
# =========================================================
.coverage
htmlcov/
.pytest_cache/
# =========================================================
# Build files
# =========================================================
build/
dist/
*.egg-info/